body {
  background: var(--bg);
  color: var(--text-main);
  transition: background var(--t-slow) var(--ease-out),
  color var(--t-slow) var(--ease-out);
  margin: 0;
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
